<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/editUser}"
      th:object="${user}" method="POST">
    <input type="text" hidden name="oldPass"  th:value = "*{password}">
    <input type="number" hidden name="id"  th:value = "*{id}">
    First Name:
    <input type="text" th:field="*{name}"/>
    <br><br>
    Last Name:
    <input type="text" th:field="*{lastName}"/>
    <br><br>
    Age:
    <input type="number" th:field="*{age}"/>
    <br><br>
    Email:
    <input type="text" th:field="*{email}"/>
    <br><br>
    New Password:
    <input type="password" th:field="*{password}"/>
    <br><br>
    Is User:
    <input
            type="checkbox" name="isUser" th:checked="${isUser}"/>
    <br><br>
    Is Admin:
    <input
            type="checkbox" name="isAdmin" th:checked="${isAdmin}"/>
    <br><br>
    Old Password:
    <input type="password" name="checkOldPass"/>
    <br><br>
    <input type="submit" value="Edite"/>
</form>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>